body {
    font-family: 'Courier New', Courier, 'Lucida Console', 'Monaco', 'Consolas', 'Menlo', 'Fira Code', 'Source Code Pro', monospace;
    font-size: 14px;
    color: grey
}
.block-data {
    margin: 20px;
}
.block-data h2 {
    margin-bottom: 0;
}
.block-data p {
    margin-top: 10
    ;
}
.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
}

.column {
    padding: 20px;
}

.column-70 {
    flex: 0 0 70%; /* Flex-grow: 0, Flex-shrink: 0, Flex-basis: 70% */
    background-color: #f1f1f1; /* Light gray background */
}

.column-30 {
    flex: 0 0 30%; /* Flex-grow: 0, Flex-shrink: 0, Flex-basis: 30% */
    background-color: #ccc; /* Darker gray background */
}